<div class="container">

<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.error_notification %>

  <%= f.input :content %>
  <%= f.input :rating, collection: [0, 1, 3, 4, 5] %>

  <div class="text-center">
    <%= f.button :submit, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

</div>

